body {
  background: black ;
  color: white;
  text-align: center;
  padding-top: 16rem;
}

h2 {
  font-family: 'Encode Sans SC', sans-serif;
}

.back {
  font-family: 'Encode Sans SC', sans-serif;
}
